@CHARSET "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

ol, ul {
	list-style: none;
}
ol.publications { list-style: decimal; padding-left: 40px}
blockquote, q {
	quotes: none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}


#form_login {width:270px; background:#add2ea; border:1px solid white; padding: 1em; -webkit-border-radius: 10px 40px 10px 10px; border-radius: 10px 40px 10px 10px;}
#form_login.with_fieldset {width:300px;margin:200px 0 0 350px}
#form_login_title {display: block; font-family: arial black, arial; text-align: center; margin-bottom: 10px; margin-top:-7px}
#form_login input[type=text], #form_login input[type=password] {display: block; margin: 0 0 0.6em 0; width: 260px; border: 5px; -webkit-border-radius: 3px; border-radius: 3px; padding: 0.3em; }
#form_login input[type=submit], #form_login a {font-family: arial black, arial; border: none; margin-right: 1em; padding: 4px; font-size: 0.7em; -webkit-border-radius: 3px; border-radius: 3px; text-decoration: none; background: #348075; color: white; box-shadow: 1px 1px 0 0 white; box-shadow: 1px 1px 0 0 white; -webkit-box-shadow: 1px 1px 0 0 white;}
#form_login input[type=submit]:hover, #form_login a:hover { background: #176257; cursor: pointer}
#form_login .error {color: #393939; font-size: 0.8em}
.form_login_admin {margin:0px auto}
.form_login {margin:0px auto}


/* Global properties ======================================================== */
html {width:100%;}

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
	min-width:960px;
}

.body_table td {padding:7px}

.extra {display: none;}
.site-menu ul { padding-left: 15px; display:none; padding-top: 5px;}
.site-menu li {padding-bottom: 5px;}
#contacts-image img {max-width: 300px; max-height: 300px; float: left; padding-right:20px;}
#contacts-info {font-size:90%; height:300px;}

.student-form-select {text-align: center;}
.student-form-select .current {font-weight: bold;}
.student-form-select .year-select {text-align: left;}

/*Стили для карточки пользователя*/
.usercard {text-align:right; border: 1px dashed #aaaaff; height:150px; vertical-align: middle; margin-bottom: 10px;}
.usercard .fio {font-weight: bold;}
.usercard abbr { border-bottom: 1px dashed blue;}
.usercard .userphoto {float:right; padding-left: 20px; width: 150px; height:150px;  text-align: center;}
.usercard .userphoto img {max-height: 150px; max-width: 150px;}

/*Стили для профиля пользователя*/
.user_profile .contacts{text-align: right;}
.user_profile span.field {color:#6699ff}
.user_profile .fio{font-weight: bold;}
.user_profile .photo {float:right; height:200px;}
div.user_profile .photo img {max-height: 200px; max-width: 150px; margin: 0px 20px}